<h2 class="room-title"><%= @entries.user.name %> </h2>

<div class="posts">
  <%= form_for @message do |f| %>
    <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.submit "投稿",class: 'form-submit'%>
  <% end %>
</div>